/* referenciamos el boostrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url("https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js");

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: serif;
}

:root{
    --rojo-claro:#181E4B;
    --negro:#000000;
    --azul--regal:#202B5F;
    --gris--claro:#e6e6e6;
    --blanco:#ffffff;
    /* colores a usar */
}

body{
    background-color: var(--gris--claro);
}


header {
    background-color: var(--negro);
    width: 100%;
    position: fixed;
    color: var(--blanco);
    padding: 10px;
    height: 70px; /* Altura del encabezado */
    z-index: 5;
    top: 0; /* Asegura que el encabezado esté en la parte superior de la página */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    margin-top: 50px; /* Margen superior para separar las secciones del encabezado */
}

nav ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    display: flex;
    text-decoration: none;
    color: var(--blanco);
    align-items: center;
}

nav ul li a i{
    margin-right: 5px;
}

.carousel-inner{
    height: 300px !important;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

article{
    width: 20%;
    height: 450px;
    background-color: var(--blanco);
}

article div {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    display: inline-block; /* Se agrega esta propiedad para asegurar que el div ocupe todo el espacio disponible */
}

article:hover > div {
    box-shadow: 0 0 10px black;
}

article div img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    transition: transform 0.5s;
}
article:hover div img {
    transform: scale(1.02);
}


/* seccion peliculas ---------------------------------------------------*/
#peliculas article{
    width: 30%;
    height: 350px;
}

.imagen__container {
    /* usamo position relativa para poder hacer que los otros elementos se sobre pongan encima de este */
    position: relative;
    width: 100%;
}

.imagen__container img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
}

.contenedor__texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.contenedor__texto h2 {
    color: var(--blanco);
    font-size: 24px;
    margin-bottom: 10px;
}

.imagen__container:hover img {
    /* ajustamos el brillo de nuestra imagen  */
    filter: brightness(0.5); /*reducimos el brillo */
}

.imagen__container:hover .contenedor__texto {
    opacity: 1;
}


.contenedor__texto button {
    padding: 10px 20px;
    background-color: var(--azul--regal);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedor__texto button:hover {
    background-color: #0056b3;
}


/* contacto */
#contacto{
    padding: 50px 0px;
    text-align: center;
    background-color: var(--blanco);
}

.contenedor__contacto{
    width: 60%;
    margin: 0 auto;
}

.contenedor__contacto h2{
    margin-bottom: 20px;
    color: var(--azul--regal);
}

.contenedor__contacto p{
    margin-bottom: 30px;
    color: var(--azul--regal);
}

.contenedor__contacto form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor__contacto input,
.contenedor__contacto textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--azul--regal);
    border-radius: 5px;
}

.contenedor__contacto button{
    padding: 10px 20px;
    background-color: var(--azul--regal);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:background-color 0.3s ease ;
}

.contenedor__contacto button:hover{
    background-color: var(--rojo-claro);
}

footer{
    background-color: var(--negro);
    color:var(--blanco);
    text-align: center;
    padding: 20px 0px;
}



